<!doctype html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <title>Tailwind</title>
  </head>
  <body>
    <p>To get started with Tailwind, you'll need to connect your Strava profile.</p>
    <p>Click on the link below to be redirect to Strava, where you can authorize permission.</p>
    <a href="https://www.strava.com/oauth/authorize?client_id={{ client_id }}&response_type=code&redirect_uri=http://{{ tailwind_domain }}/windvane/exchange_token&approval_prompt=force&scope=read">Connect Strava</a>
  </body>
</html>
